<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      utoReload="true"
      throwExceptions="true">

  <targets async="true">
    <target name="logfile" xsi:type="File"
            fileName="Log/${date:yyyyMMdd}.txt"
            encoding="UTF-8"
            layout="${date:MM-dd HH-mm-ss.ffff} ${level}| ${message}"
            archiveFileName="Log/rolling.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>